doctype html5
html
  head
    meta(charset="utf-8")
    title mdtestui
    script(src="lib/jquery.js")
    script(src="lib/underscore.js")
    script(src="lib/backbone.js")
    script(src="lib/backbone.babysitter.js")
    script(src="lib/backbone.wreqr.js")
    script(src="lib/backbone.stickit.js")
    script(src="lib/backbone.marionette.js")
    script(src="mdtestui.js")
    script#index-root(type="text/template")
      section
    script#test-root(type="text/template")
      section
  body
    header
      h1 Markdown Test UI
      p テスト！テスト！テスト！
    main
